<!-- activation_email.html -->

<!-- activation_email.html -->

<!-- <h3>{{ site_name }}</h3> -->

<!-- <p>Hello \{{ user.username }}!</p> -->

<!-- <p>Please activate your account on the link:</p> -->

<!-- <p>{{ protocol }}://{{ domain }}/{{ path }}/{{ token }}</p> -->

<p>Hello</p>

<p>Welcome to Motoqaa. You have now signed up!</p>

<p>You can now complete your profile when you log in to your account.</p>

<p>Get peace of mind managing your taxi business from now going forward.</p>


<br>
<p>Best</p>
<p>The Motoqaa Team</p>